<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> age and gender guesser</title>
    <link rel="stylesheet" href="./static/CSS_stylsheet.css">
</head>
<body>
<h1 id="age">Guessing from your name your age is: {{age}}</h1>
<br>
<h1 id="gender">Guessing from your name, your sexuality is: {{gender}}</h1>
<br>
<img id="gif" src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3JzZzBoY2poM3Jta2E0dTh0cGVhMXN5NHBkYm9kdTNlZnliOGgyNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEjHPqljqeuYPLOTK/giphy.webp">
</body>
</html>